<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
    <div
    class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12"
  >
    <img
      src="https://i.imgur.com/vAOmISq.jpg"
      alt=""
      class="absolute scale-225"
    />
    <script>
      function addIngredientInput() {
        var newQuantityInput = document.createElement("input");
        var newUnitInput = document.createElement("input");
        var newIngredientInput = document.createElement("input");
        var outerContainer = document.getElementById("ingredientContainer");

        console.log(outerContainer.children)

        var newID = outerContainer.children[outerContainer.children.length - 1].id + 1

        newQuantityInput.classList.add("flex", "h-5", "mt-5", "ring-1", "ring-gray-900/5", "rounded-lg", "p-5", "w-20");
        newUnitInput.classList.add("flex", "h-5", "mt-5", "ring-1", "ring-gray-900/5", "rounded-lg", "p-5", "w-20");
        newIngredientInput.classList.add("flex", "h-5", "mt-5", "ring-1", "ring-gray-900/5", "rounded-lg", "p-5", "w-50");
        
        newQuantityInput.name = `ingredients[${newID}][quantity]`;
        newUnitInput.name = `ingredients[${newID}][unit]`;
        newIngredientInput.name = `ingredients[${newID}][ingredientName]`;

        newQuantityInput.placeholder = "Qty";
        newUnitInput.placeholder = "Unit";
        newIngredientInput.placeholder = "Ingredient Name";

        newQuantityInput.type = "quantity";
        newUnitInput.type = "unit";
        newIngredientInput.type = "ingredient";

        var innerContainer = document.createElement("div");
        innerContainer.classList.add("relative", "flex", "flex-row", "space-x-3");
        innerContainer.tagName = 'ingredientInput'
        innerContainer.id = newID
        innerContainer.appendChild(newQuantityInput)
        innerContainer.appendChild(newUnitInput)
        innerContainer.appendChild(newIngredientInput)

        outerContainer.appendChild(innerContainer);
      }

      function deleteIngredientInput() {
        var outerContainer = document.getElementById("ingredientContainer");
        if (outerContainer.children.length <= 1)
          return
        mostRecentInput = outerContainer.children[outerContainer.children.length - 1] 
        mostRecentInput.remove();
      }
    </script>
    <div
        class="relative bg-white px-6 pt-8 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10"
      >
        <form class="relative flex-col space-y-3" action="\create_recipe" method="POST">
            <h1 class="text-2xl font-bold mb-5">Create Recipe</h1>
            <p1 class="text-m font-normal mb-3">Fill out all the following spaces. Click the "+" button to add as many ingredients as needed, or click the "-" button to remove a previously added ingredient!</p1>
            <p style="font-size: 10px;" class="text-m font-normal mb-3">Be sure to add quantities, units, and names for ingredients.</p>
            <%- include ('../partials/message') %>
            <div class="">
              <input
              class="flex h-5 ring-1 ring-gray-900/5 rounded-lg p-5 w-80"
              name="recipe_name"
              type="recipe_name"
              placeholder="Recipe name"
              required
              />
            </div>
            <div class="">
              <input
                class="flex h-5 ring-1 ring-gray-900/5 rounded-lg p-5 w-80"
                name="recipe_desc"
                type="recipe_desc"
                placeholder="Recipe description"
                required
              />
            </div>
            <div class="">
                <input
                  class="flex h-5 ring-1 ring-gray-900/5 rounded-lg p-5 w-80"
                  name="recipe_img_url"
                  type="recipe_img_url"
                  placeholder="Recipe Image Url"
                  required
                />
            </div>
            <h1>Ingredients:</h1>
            <div class="ml-5 space-y-3" >
                <div class="" id="ingredientContainer">
                  <div class="relative flex flex-row space-x-3" tagName="0">
                    <input
                      class="relative flex h-5 ring-1 ring-gray-900/5 rounded-lg p-5 w-20"
                      name="ingredients[0][quantity]"
                      type="quantity"
                      placeholder="Qty"
                      required
                    />
                    <input
                      class="relative flex h-5 ring-1 ring-gray-900/5 rounded-lg p-5 w-20"
                      name="ingredients[0][unit]"
                      type="unit"
                      placeholder="Unit"
                      required
                    />
                    <input
                      class="relative flex h-5 ring-1 ring-gray-900/5 rounded-lg p-5 w-50"
                      name="ingredients[0][ingredientName]"
                      type="ingredient"
                      placeholder="Ingredient"
                      required
                    />
                  </div>
                </div>
                <div class="flex-row flex relative space-x-3">
                  <button type="button" onclick="addIngredientInput()" class="bg-blue-500 hover:bg-blue-400 w-10 relative justify-center items-center flex marker:px-5 py-2 rounded-lg text-white">
                    +
                  </button>
                  <button type="button" onclick="deleteIngredientInput()" class="bg-blue-500 hover:bg-blue-400 w-10 px-5 py-2 relative flex items-center justify-center rounded-lg text-white">
                    -
                  </button>
                </div>
              </div>           
            <div class="flex py-2">
              <button type="submit" class="bg-blue-500 hover:bg-blue-400 px-5 py-2 rounded-lg text-white" id="submit_button">
                Add recipe
              </button>
            </div>
            <div class="flex justify-center text-md">
              <text>Return to recipes:</text>
              <a href="/recipes" method="GET" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Recipes</a>
            </div>
        </form>
    </div>
</main>

<%- include ('../partials/footer') %>