<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
    <div>
        
        <body>

            <div class="container"></div>
            <img src="https://as2.ftcdn.net/v2/jpg/02/63/48/47/1000_F_263484742_N3fNVbg9iSUpPE6NZtexSTlFZrQBIcDV.jpg" class="rounded mx-auto d-block" alt="FF Collage">

            <p class="text-center mb-3 text-3xl font-semibold text-black-500 md:text-5xl dark:text-black-400">FrugalFinder</p>
            <p class="text-center font-normal text-black-500 dark:text-black-400">FrugalFinder is a free website for everyone to frugally plan their meals.</p> 
            <p class="text-center font-normal text-black-500 dark:text-black-400">This is an application that allows users to see the cost and nutrition of their meals from a given recipe before they buy.</p> 
            <p class="text-center font-normal text-black-500 dark:text-black-400">Visit our "Recipes" page to find recipes that you can make! Add the ingredients to your cart and make this meal in a frugally fashion!</p> 
            <p class="text-center font-normal text-black-500 dark:text-black-400">If there is a recipe that you do not see on the "Recipes" page and would like to put the items in the cart, visit the "Create Recipe" tab to create your own recipe!</p>
            <p class=" text-center font-semibold text-black-500 dark:text-black-400">Sign up today for free and mak frugally! </p> 
            <p class=" text-center font-semibold text-black-500 dark:text-black-400">If you already have an account, log in and jump back into shopping frugally!</p> 
            
            <body> 
        </div> 
    </div>

</main>

<%- include ('../partials/footer') %>