<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
    <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
        <img
          src="https://i.imgur.com/vAOmISq.jpg"
          alt=""
          class="absolute scale-225"
        />
    </div>
</main>

<%- include ('../partials/footer') %>