<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
    <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
        <h1 class="relative flex text-xl2"><%=recipe.recipe_name %></h1>
    </div>
</main>

<%- include ('../partials/footer') %>