<nav class="relative w-full flex flex-wrap flex-row items-center justify-between py-3 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg">
  <div class="container-fluid w-full flex-row flex flex-wrap items-center justify-between px-6">
    <!-- LEFT MENU ITEMS -->
    <div class="navbar-collapse flex-grow items-center">
      <a class="text-xl text-black font-semibold" href="/">FrugalFinder</a>
      <ul class="navbar-nav flex-col pl-0 mr-auto">
        <li class="nav-item pr-2">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item pr-2">
          <a class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0" href="/recipes">Recipes</a>
        </li>
        <li class="nav-item pr-2">
          <a class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0" href="/register">PLACEHOLDER</a>
        </li>
      </ul>
    </div>
  <!-- RIGHT MENU ITEMS -->
    <div class="flex flex-row items-center relative gap-2">
      <%- include ('./cart') %>
      <div class="dropdown relative flex-row">
        <% if(auth) { %>
          <a
          class="dropdown-toggle flex items-center hidden-arrow"
          href="/logout"
          id="dropdownMenuButton1"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          > Logout
          </a>
        <% }else { %>
          <a
          class="dropdown-toggle flex items-center hidden-arrow"
          href="/login"
          id="dropdownMenuButton1"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          > Login
          </a>
        <% }; %>

      </div>
    </div>
  </div>
</nav>